* {
    margin: auto;
}

body {
    background-color: #212529;
    font-family: 'Poppins';
    color: white;
}

li {
    display: inline-block;
    list-style: none;
    margin: 10px;
}

main {
    font-family: "inter";
    text-align: center;
}

footer {
    background-color: #1c1c1c;
    display: flex;
    
}

.Cajitas {
    background-color: #292B2E;
}

a:link,
a:visited {
    color: white;
}

a:hover {
    color: #ffb742;
}

a {
    text-decoration: none;
}

button {
    font-weight: 900;
    background-color: #ffb742;
    color: black;
    border-radius: 50px;
    height: 54px;
    width: 121px;
    left: 1271px;
    top: 23.060546875px;
    border-radius: 50px;
    padding: 12px, 26px, 12px, 26px;
    border-style: none;
    margin: 20px;
}

header{
    display:flex ;
    justify-content:space-between;
}

section{
    display: flex;
}